@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

:root {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
 
  --transition-speed: 600ms;
}

body {
  color: #191923;
  background-color: #FBFEF9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NavBar */
nav{    
    background-color:#222222;
    padding: 10px
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;    
    align-items:center; 
    justify-content: space-around;   
}

.nav-logo a{    
    text-decoration: none; 
    color: white;  
}



.nav-logo a i{
    color: #FBFEF9;
}



.nav-search label{
    font-size: 18px;
    color: #fff;    
}

.nav-search input{
    background-color: #FBFEF9;  
    padding: 8px;
    border: none;
    border-radius: 20px;
    font-size: 16px;          
}

.nav-search input:focus{
    outline: none;
    border: 2px solid #BF1363;
}

/* Button */
button{
    color: white;
    padding: 9px 10px;
    background-color: #F39237;
    letter-spacing: 1px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #f39237bb;    
}

button:focus{
    outline: none;
    box-shadow: none;    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Table */
.content-table{
    border-collapse: collapse;
    margin: 25px; 
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content-table thead tr{
    background-color: #F39237;
    color: #fafafa;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
}

.content-table th, .content-table td{
    padding: 12px 55px;
}

.content-table tbody tr{
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #fafafa;
}

.content-table tbody tr:hover{
    background-color: #f39237ad;
    font-weight: bold;
    
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid#F39237;
}

@font-face {
    font-family: ExampleFont;
    src: url(/path/to/fonts/examplefont.woff) format('woff'),
         url(/path/to/fonts/examplefont.eot) format('eot');
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }



