<%- include('partials/head.ejs') %>

    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident labore cupiditate dolor quasi dolorem,
        dolores aut ducimus fugit corrupti quod voluptatibus suscipit accusamus quas iusto quia beatae hic
        doloremque
        assumenda.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident labore cupiditate dolor quasi dolorem,
        dolores aut ducimus fugit corrupti quod voluptatibus suscipit accusamus quas iusto quia beatae hic
        doloremque
        assumenda.
    </p>
    <%- include('partials/footer.ejs') %>