@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #284b63;
}

h1, li, a, button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
}

h1{
    cursor: pointer;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
    font-size: 1.1em; 
}

.nav-links li a:hover{
    transition: all 0.3s ease 0s;
    color: #d9d9d9;       
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 139, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 139, 169, 0.6);    
}

@media(max-width: 760px){
    header, .nav-links li{   
        display: flex;     
        flex-direction: column;        
        align-items: center;
        justify-items: flex-start;
        padding: 10px 20%;
    }
}